extends layout

block content
    script.
        var selName='#{name}';
        var startday='#{stday}';
        var csid = '#{csensor}';

    header
    #map
    #overlay
        #buttons
            #buttonsLeft
                //
                    button.btn.btn-primary#bntye(value="year") 365 Tage
                button.btn.btn-primary#btnmo(value="month") 30 d
                button.btn.btn-primary#btnwe(value="week") 7 d
                button.btn.btn-primary#btnda(autofocus="true",value="day") 24 h
                //
                    button.btn.btn-primary#btnst(value="start") anderen&nbsp;Tag wählen
            #buttonsRight
                button.btn.btn-primary#btnSet(value='set') Einstellung
                button.btn.btn-primary#btnMap(value='map') Ende
        #loading Lade die Daten ...
        #placeholderFS_1
        #dialogWinSet
        #author
            #mailadr
                a(href="mailto:rexfue@gmail.com") mailto:rexfue@gmail.com
            #versn Version: #{version} vom #{date}


    #dialogCenter.dialog
    #dialogWinHelpM
    #dialogFehlSens
    #dialogFehlList
    #page-mask

